/*table, th, td 
{
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}
th {
    font-weight:bold;
}*/
.panel-heading small {
    font-size: 14px !important;
}


.tool-pagination /deep/ .ngx-pagination .current {
    text-align: center;
  }
