<div>
  <h1>
    Portals Home
  </h1>
</div>


<div id="ActiveUserGuidesWP" class="webpart ActiveUserGuidesWP">


        <div class="panel panel-default">
              <div class="panel-heading">
                <span class="glyphicons glyphicons-book"></span>
                <small><label id="title">{{title}}</label></small>
              </div>
 
            <div class="padding-5 parked-text panel-content">
              <table class="table table-striped table-hover table-hover-pointer table-datatable" *ngIf="arrUserGuides">
                <!-- ADD HEADERS -->
                <tr>
                  <th>{{guideHeaders.Last_updated}}</th>
                  <th>{{guideHeaders.Customer}}</th>
                  <th>LID</th>
                  <th>{{guideHeaders.Area}}</th>
                  <th>{{guideHeaders.Guides}}</th>
                  <th></th>
                </tr>
                <!--BIND ARRAY OF TABLE -->
                <tr *ngFor="let guide of arrUserGuides | paginate: { itemsPerPage: 5, currentPage: p }" class="activeUserGuideItem">
                    <td>{{guide.Date}}</td>
                    <td>{{guide.CustomerName}}</td>
                    <td>{{guide.CustomerId}}</td>
                    <td>{{guide.Section}}</td>
                    <td>{{guide.EntityTitle}}</td>
                    <td><i class='' style='color:red;' ></i> </td>
                    <!--<td><%# Eval("StepName") %></td>-->
                </tr>
              </table>  
              <!--
                <asp:Repeater ID="repeater1" >
                    <HeaderTemplate>
                            <table class="table table-striped table-hover table-hover-pointer table-datatable">
                                <thead>
                                    <tr>
                                        <th><%= TPCIP.CommonTranslations.Translations.Last_updated %></th>
                                        <th><%= TPCIP.CommonTranslations.Translations.Customer %></th>
                                        <th>LID</th>
                                        <th><%= TPCIP.CommonTranslations.Translations.Area %></th>
                                        <th><%= TPCIP.CommonTranslations.Translations.Guides %></th>
                                        <th></th>
                                        <%--<th><%= TPCIP.Web.GlobalResources.Translations.Current_Step %></th>--%>
                                    </tr>
                                </thead>
                                <tbody>
                        </HeaderTemplate>

                        <ItemTemplate>
                            <tr class="activeUserGuideItem"
                                <%-- onclick is in TdcPortalUserGuides js class--%>
                                data-noteid='<%# Eval("NoteId") %>'
                                data-customerid='<%# Eval("CustomerId") %>'
                                data-entitytitle='<%# Eval("EntityTitle") %>'
                                data-entityid='<%# Eval("EntityId") %>'
                                data-portalid="<%# Eval("PortalId") %>"
                                data-section='<%# Eval("Section") %>'
                                data-parentAccountNo='<%# Eval("ParentAccountNumber") %>'
                                data-entityType='<%# Eval("EntityType") %>'
                                data-isresumable='<%# Eval("IsResumable")%>'
                                data-sessionId='<%# Eval("GuideSessionId")%>'
                                data-userid='<%# Eval("UserId")%>'
                                data-stepid='<%# Eval("StepId")%>'
                                data-notetext='<%# Eval("NoteText")%>'
                                data-toolName='ActiveUserGuides'>
                                <td><%# Eval("Date") %></td>
                                <td><%# Eval("CustomerName") %></td>
                                <td><%# Eval("CustomerId") %></td>
                                <td><%# Eval("Section") %></td>
                                <td><%# Eval("EntityTitle") %></td>
                                <td><i class='<%# Convert.ToBoolean(Eval("IsResumable")) == false ? "ion-alert" : ""  %>' style='color:red;' ></i> </td>
                                <%--<td><%# Eval("StepName") %></td>--%>
                            </tr>
                        </ItemTemplate>
                        <FooterTemplate>
                            </tbody>
                            </table>
                        </FooterTemplate>
                </asp:Repeater>-->
            </div>

           <!-- <uc1:Paginator ID="paginator"  OnClientPageClick="TdcActiveUserGuides.paginatorClicked" />
            <asp:Label ID="lblNoSessions"  Visible="False"><%= TPCIP.CommonTranslations.Translations.There_are_no_sessions  %></asp:Label>
           -->
          <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>-->
           <pagination-controls 
                      (pageChange)="p= $event"
                      maxSize="9"
                      directionLinks="true"
                      autoHide="false"
                      previousLabel="← Forrige side"
                      nextLabel="Næste side →"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"
                      class="tool-pagination"
                      style="text-align: center">
            </pagination-controls>
    </div><!--end of parked cases table -->
 </div>

 <div class="row">
    <div class="m-t-1">
        
        <button class="btn btn-danger" (click)="doGETWithHeaders()">With Http</button>
        <button class="btn btn-danger" (click)="doGETWithHeaders1()">With HttpClient</button>
        
      </div>
  </div>

 